//- Description no longer than 155 characters
meta(name="description" content="Spencer Hardwick is a technical storyteller with a passion for all things product and data. Come say hi!") 
//- Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@smh")
meta(name="twitter:title" content="smh portfolio, yo") 
meta(name="twitter:description" content="Spencer Hardwick is a technical storyteller with a passion for all things product and data. Come say hi!") 
meta(name="twitter:creator" content="@smh")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="https://imgur.com/AM8UR3h")
//- Open Graph data
meta(property="og:title" content="smh portfolio, yo") 
meta(property="og:type" content="Article")
meta(property="og:url" content="https://imgur.com/AM8UR3h")
meta(property="og:image" content="https://imgur.com/AM8UR3h")
meta(property="og:description" content="Spencer Hardwick is a technical storyteller with a passion for all things product and data. Come say hi!" ) 
meta(property="og:site_name" content="smh portfolio, yo")
meta(property="fb:admins" content="132951670226590")