mixin i(name)
	svg.icon(class='icon-' + name)
		use(xlink:href='img/sprite.svg#icon-' + name)

mixin header(classHeader, classBurger)
	.header.js-header#header(class=classHeader)
		.header__center.center
			a.header__logo(href="index.html")
				img.header__pic(src="img/logo-header-2.png" alt="")
			.header__social.header__social_main
				a.header__link(href="#")
					+i('dribbble')
					| LinkedIn
				a.header__link(href="#")
					+i('instagram')
					| GitHub
mixin wrapperDark
	.wrapper.wrapper_dark
		+contacts
		+footer

mixin figures
	.figures
		.figures__preview
			img.figures__pic(src="img/figures-1.png" alt="")
		.figures__preview
			img.figures__pic.js-parallax(data-scale="1.6" data-orientation="up" src="img/figures-2.png" alt="")
		.figures__preview
			img.figures__pic.js-parallax(data-scale="1.3" data-orientation="up" src="img/figures-3.png" alt="")
		.figures__preview
			img.figures__pic(src="img/figures-4.png" alt="")
		.figures__preview
			img.figures__pic.js-parallax(data-scale="2.3" data-orientation="down" src="img/figures-5.png" alt="")
		.figures__preview
			img.figures__pic.js-parallax(data-scale="2" data-orientation="up" src="img/figures-6.png" alt="")

mixin contacts
	.contacts
		.contacts__center.center
			.contacts__container
				.contacts__wrap
					.contacts__stage.stage(data-aos="animation-scale-y") Say hello 👋
					h2.contacts__title.h1(data-aos="animation-scale-y" data-aos-delay="200") Let’s Work <br>Together.
					.contacts__info(data-aos="animation-scale-y" data-aos-delay="400") Coffee chats? ✅<br></br>Collaborative projects? ✅<br></br>Engage in awesome conversation? ✅<br></br>Don't be shy. Get in touch!
				.contacts__row
					.contacts__details(data-aos="animation-translate-y")
						a.contacts__line(href="mailto:spencerh@hey.com")
							.contacts__icon
								+i('email')
							.contacts__text spencerh@hey.com
						.contacts__line
							.contacts__icon
								+i('place')
							.contacts__text 
								p Saint Louis, MO 63110
								p United States
						a.contacts__line(href="tel:+441236547890")
							.contacts__icon
								+i('phone')
							.contacts__text 720.266.1199
					form.contacts__form(data-aos="animation-translate-y" data-aos-delay="200")
						.contacts__field.field
							.field__wrap
								input.field__input(type="text" name="name" placeholder="Name")
								.field__icon
									+i('profile')
						.contacts__field.field
							.field__wrap
								input.field__input(type="email" name="email" placeholder="Email")
								.field__icon
									+i('send')
						.contacts__field.field
							.field__wrap
								input.field__input(type="company" name="company" placeholder="Company")
								.field__icon
									+i('arrows')
						.contacts__field.field.field_textarea
							.field__wrap
								textarea.field__textarea(name="message" placeholder="Message")
								.field__icon
									+i('message')
						.contacts__btn
							button.btn.btn_purple
								span.btn__text Let’s Talk
				.contacts__category.h5 Let’s connect
				+figures

mixin footer
	.footer
		.footer__center.center
			.footer__body
				a.footer__logo(href="index.html")
					img.footer__pic(src="img/logo-header-2.png" alt="")
				.footer__wrap
					.footer__title.h1 Wanna change the world?
					.footer__info.h4 Let’s get started, together.
				.footer__menu
					a.footer__link(href="#") About Me
					a.footer__link(href="#") Projects
					a.footer__link(href="#") Contact
					a.footer__link(href="#") LinkedIn
					a.footer__link(href="#") GitHub
			.footer__bottom
				.footer__copyright © 2021, smh systems
				a.footer__scroll.js-scroll(href="#header") Back to top
		.footer__bg
			.footer__preview


