---
title: smh_portfolio
---
extends layouts/_layout
block content
	.main
		+header
		.main__bg
			img.main__pic(src="img/bg-main.png" alt="")
		.main__center.center
			.main__wrap
				h1.main__title.title.h1
					<br>
					span(data-aos="transform" data-aos-delay="150") Hi, I'm
					span(data-aos="transform" data-aos-delay="300") Spencer.
					span(data-aos="transform" data-aos-delay="450") I love
					span(data-aos="transform" data-aos-delay="450") product,
					span(data-aos="transform" data-aos-delay="600") engineering,
					span(data-aos="transform" data-aos-delay="750") and data!
				a.scroll.js-scroll(href="#details" data-aos="transform")
					.scroll__icon
						img.scroll__pic(src="img/scroll.svg" alt="")
					.scroll__text Scroll down
		.main__view(data-aos)
			.main__preview
				img.main__pic(src="img/main-pic-6.png" alt="")
			.main__preview
				img.main__pic.js-parallax(data-scale="2.5" data-orientation="up" src="img/main-pic-1.png" alt="")
			.main__preview
				img.main__pic.js-parallax(data-scale="1.5" data-orientation="up" src="img/main-pic-22.png" alt="")
			.main__preview
				img.main__pic(src="img/main-pic-33.png" alt="")
			.main__preview
				img.main__pic(src="img/main-pic-44.png" alt="")
			.main__preview
				img.main__pic.js-parallax(data-scale="4.5" data-orientation="up" src="img/main-pic-5.png" alt="")
			.main__preview
				img.main__pic.js-parallax(data-scale="1.5" data-orientation="down" src="img/main-pic-7.png" alt="")
		.main__figures
			.main__figure(data-aos="animation-translate-y")
				img.main__pic.js-parallax(data-scale="2.2" data-orientation="down" src="img/figure-1.png" alt="")
			.main__figure(data-aos="animation-translate-y" data-aos-delay="200")
				img.main__pic.js-parallax(data-scale="2.2" data-orientation="up" src="img/figure-2.png" alt="")
			.main__figure(data-aos="animation-translate-y" data-aos-delay="400")
				img.main__pic(src="img/figure-3.png" alt="")
	.details#details
		.details__center.center
			.details__head(data-aos="animation-scale-y")
				.details__stage.stage What I Do
				h3.details__info.h3 I'm driven towards moving <br>humanity forward with technology,<br>and understanding how we interact.
			h2.details__title(data-aos="animation-scale-y") Observe. Reflect. <br>Build. 
			.details__btn(data-aos="animation-translate-y")
				button.btn.btn_purple
					span.btn__text Contact Me
			.details__container
			.details__head(data-aos="animation-scale-y")
				.details__stage.stage My Superpowers
				.details__slider.owl-carousel.js-slider-details
					.details__item
						.details__preview(data-aos="animation-scale")
							.details__img
								img.details__pic(src="img/Scene 5.png" alt="")
						h5.details__category.h5(data-aos="animation-scale-y") Restorative
						.details__text(data-aos="animation-scale-y") I excel at managing problems, finding root causes, and bringing solutions with a bias for action.
						.details__btn(data-aos="animation-scale-y")
					.details__item
						.details__preview(data-aos="animation-scale" data-aos-delay="150")
							.details__img
								img.details__pic(src="img/Scene 1.png" alt="")
						h5.details__category.h5(data-aos="animation-scale-y" data-aos-delay="150") Futuristic
						.details__text(data-aos="animation-scale-y" data-aos-delay="150") I'm inspired by the future and what could be. I energize others with my vision of the future.
						.details__btn(data-aos="animation-scale-y" data-aos-delay="150")
					.details__item
						.details__preview(data-aos="animation-scale" data-aos-delay="300")
							.details__img
								img.details__pic(src="img/Scene 3.png" alt="")
						h5.details__category.h5(data-aos="animation-scale-y" data-aos-delay="300") Input
						.details__text(data-aos="animation-scale-y" data-aos-delay="300") I have an innate desire to archive. I relentlessly seek information, ideas, artifacts, and experiences.
						.details__btn(data-aos="animation-scale-y" data-aos-delay="300")
					.details__item
						.details__preview
							.details__img
								img.details__pic(src="img/Scene 9.png" alt="")
						h5.details__category.h5 Strategic
						.details__text I'm exceptionally talented at creating alternative ways of proceeding. Faced with any given scenario, I can quickly spot the relevant patterns and issues.
					.details__item
						.details__preview
							.details__img
								img.details__pic(src="img/Scene 9_pink.png" alt="")
						h5.details__category.h5 Learner
						.details__text I'm in an endless cycle of observation, reflection, and discovery. The process of learning, rather than the outcome, is what truly excites me.
					.details__item
						.details__preview
							.details__img
								img.details__pic(src="img/Scene 7.png" alt="")
						h5.details__category.h5 Analytical
						.details__text I'm exceptionally talented at finding reasons and causes. I have the ability to think about all the factors that might affect a situation.
		.details__figures
			.details__figure
				img.details__pic.js-parallax(data-scale="2" data-orientation="down" src="img/figure-1.png" alt="")
			.details__figure
				img.details__pic.js-parallax(data-scale="2" data-orientation="up" src="img/figure-2.png" alt="")
			.details__figure
				img.details__pic.js-parallax(data-scale="1.2" data-orientation="up" src="img/figure-3.png" alt="")
		a.details__contact(href="#") Contact me
	.work
		.work__circles
		.work__center.center
			.work__wrap
				.work__stage.stage.stage_pink(data-aos="animation-scale-y") Who I Am
				h2.work__title.title.h1(data-aos="animation-scale-y" data-aos-delay="150") My core values
				.work__text(data-aos="animation-scale-y" data-aos-delay="300") I thrive in a dynamic, collaborative, radically transparent environment.
					<br><br>I delight in approaching problems from first principles and finding signal in noise.
					<br><br>I am relentless in my pursuit of a growth mindset.
					<br><br>I inspire others, and am inspired by those who share my drive, passion, ambition, and curiosity.
				a.scroll.js-scroll(data-aos="animation-scale-y" href="#cases")
					.scroll__icon
						img.scroll__pic(src="img/scroll.svg" alt="")
					.scroll__text Scroll down
		.work__preview
			img.work__pic.js-parallax(data-scale="2" data-orientation="down" src="img/work-cube.png" alt="")
		.work__figures(data-aos)
			.work__figure
				img.work__pic.js-parallax(data-scale="1.3" data-orientation="up" src="img/work-cube-1.png" alt="")
			.work__figure
				img.work__pic.js-parallax(data-scale="1.5" data-orientation="up left" src="img/work-cube-2.png" alt="")
			.work__figure
				img.work__pic.js-parallax(data-scale="1.3" data-orientation="up right" src="img/work-cube-3.png" alt="")
			.work__figure
				img.work__pic(src="img/work-cube-4.png" alt="")
			.work__figure
				img.work__pic.js-parallax(data-scale="1.1" data-orientation="left" src="img/work-cube-5.png" alt="")
			.work__figure
				img.work__pic.js-parallax(data-scale="1.2" data-orientation="right" src="img/work-cube-6.png" alt="")
			.work__figure
				img.work__pic.js-parallax(data-scale="1.2" data-orientation="down" src="img/work-cube-7.png" alt="")
	.wrapper.wrapper_gradient
		.cases.cases_main#cases
			.cases__center.center
				.cases__stage.stage(data-aos="animation-scale-y") Portfolio
				h2.cases__title.h1(data-aos="animation-scale-y" data-aos-delay="150") Never Stop <br>Growing.
				.cases__nav(data-aos="animation-scale-y" data-aos-delay="300")
					a.cases__link.active(href="#") Professional
					a.cases__link(href="#") Creative
				.cases__list.js-owl(data-items-mobile-portrait="1" data-items-mobile-album="1" data-autoheight)
					mixin casesItem(src, delay)
						a.cases__item(data-aos="animation-translate-y" data-aos-delay=delay href="case.html")
							.cases__preview
								img.cases__pic(src=src alt="")
								.cases__box Check it<br>out
					+casesItem('img/ga-logo.jpg', '')
					+casesItem('img/hackathons.png', '200')
					+casesItem('img/udacity-logo1.png', '')
					+casesItem('img/hCK-PIC.jpg', '200')
			.cases__figures
				.cases__figure
					img.cases__pic.js-parallax(data-scale="2" data-orientation="down" src="img/figure-2.png" alt="")
				.cases__figure
					img.cases__pic.js-parallax(data-scale="1.8" data-orientation="down" src="img/figure-3.png" alt="")
		.review
			.review__center.center
				.review__stage.stage(data-aos="animation-scale-y") Word On The Street
				h2.review__title.title.h1(data-aos="animation-scale-y" data-aos-delay="200") What it's like <br>working with me.
				.review__container(data-aos="animation-translate-y" data-aos-delay="400")
					.review__slider.owl-carousel.js-slider-review
						.review__item
							.review__text “Spencer was always willing to go the extra mile - work weekends, late at night, and would go out of his way for customers. He often would volunteer to step up, work weekends, or reschedule his entire day to help out with a shift. His numbers were always good and he's really a pleasure to work with - but what makes him truly special is his willingness to go the extra mile.”
							<br>
							.review__author
								.review__ava
									img.review__pic(src="img/hari.png" alt="")
								.review__details
									.review__man.h5 Hari Srinivasan
									.review__company Vice President of Product Management - LinkedIn Learning
						.review__item
							.review__text “Spencer is a hard-working, curious, and status quo challenging individual who I had the pleasure of learning from and working with at Clever Real Estate. He is always learning from others, increasing his relevant skill and knowledge, and always looking for ways to grow the group IQ & EQ. Spencer will be an asset to any organization that challenges him to come up with novel solutions to help improve processes and grow the business.”
							.review__author
								.review__ava
									img.review__pic(src="img/joe.png" alt="")
								.review__details
									.review__man.h5 Joseph Wallace
									.review__company Account Executive - Clever Real Estate
						.review__item
							.review__text “Spencer is an extremely intelligent individual with an unbeatable work ethic. I had the privilege of working with Spencer during our time at General Assembly. He always had something beneficial to add to class discussions, and always looked to motivate others. One of his greatest attributes is the way he drives those around him to think deeper and more critically when analyzing situations. Spencer is an excellent addition to any team.”
							.review__author
								.review__ava
									img.review__pic(src="img/chris p.png" alt="")
								.review__details
									.review__man.h5 Christopher Petronella
									.review__company Product Manager - IntelleXt
						.review__item
							.review__text “Spencer and I worked together at Clever, and he definitely made a real impact on the team. His friendly demeanor made collaborating on group projects easy and enjoyable. Spencer cares about his teammates and will take extra steps to let you know he appreciates your contributions. His cheery demeanor and hearty laugh made even the toughest days manageable. He’s a great teammate and wants to see everyone succeed.”
							.review__author
								.review__ava
									img.review__pic(src="img/cj.png" alt="")
								.review__details
									.review__man.h5 CJ Ohm
									.review__company National Account Manager - Clever Real Estate
						.review__item
							.review__text “Spencer and I worked together as Technical Project Managers at Balto. I've seen Spencer go above and beyond in researching ways to make processes more efficient. His dedication to problem solving means he's eager to learn and he loves doing it. I believe that's what makes him so valuable to any company.”
							<br><br>
							<br>
							.review__author
								.review__ava
									img.review__pic(src="img/nille.png" alt="")
								.review__details
									.review__man.h5 Tenille Stewart
									.review__company Sr. HRIS Project Manager & Business Analyst - Post Holdings
			.review__bg
				.review__preview
					img.review__pic.js-parallax(data-scale="1.5" data-orientation="down" src="img/review-cube.png" alt="")
				.review__preview
					img.review__pic(src="img/review-cube.png" alt="")
		+wrapperDark







